body {
  margin: 0;
  padding: 0;
}

.checkbox {
    background-image: url(img/checkbox-off.svg);
}

.checkbox:checked {
    background-image: url(img/checkbox-on.svg);
}

.radio:checked {
    background-image: url(img/radio-on.svg);
}

.radio:checked {
    background-image: url(img/radio-off.svg);
}

.visually-hidden {
  display: none;
}

/* .visually-hidden:not(:focus):not(:active) {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
} */

.header {
  padding-top: 40px;
}

.container {
  position: relative;
  width: 1160px;
  margin-left: auto;
  margin-right: auto;
}

.header_inner {
  padding-left: 60px;
  padding-right: 60px;
  background-color: #f7e296;
}

.header_logo img {
  position: relative;
  transform: translateY(-50%);
}

.header_top {
  font-family: "Open Sans";
  font-size: 15px;
  line-height: 2;
  font-weight: 800;
  line-height: 2;
  color: black;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  justify-content: space-between
}

.header_top-search input {
  margin-left: 10px;
}

li a img {
  margin-right: 10px;
}

ul.header_top.top-user-menu {
  width: 500px;
  display: flex;
}

.header_top .top-user_menu_cart {
  margin-left: 40px;
}

li.header_quarter-line-wrapper {
  width: 45%;
  display: flex;
  justify-content: space-between;
}

.header_bot {

}

.header_menu {
  display:flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
}

.header_menu-item {
  margin-left: 38px;
}

.header_menu-item--contacts {
  margin-left: 114px;
}

.header_menu-item--catalog {
  margin-left: 0;
  margin-right: auto;
}

.header_menu-item > a {
  font-family: "Gilroy";
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 800;
  line-height: 1.33;
  letter-spacing: 1.6px;
  color: black;
}

.dropdown_menu {
  position: absolute;
  left: -60px;
  right: -60px;
  top: 100%;
  background-color: #f7e296;
  padding-left: 60px;
  z-index: 1;
  display: none;
  padding-right: 460px;
}

.dropdown:hover .dropdown_menu {
  display: flex;
  flex-wrap: wrap;
}

.dropdown_menu-item {
  width: 200px;
}

.dropdown_menu-item:nth-child(3n+1) {
  width: 240px;
}

.dropdown_menu-item:last-child {
  width: 240px;
}


.header_bot div {
  display: none;
  position: absolute;
  width: 1040px;
  top: 160px;
  padding: 0 60px 0 60px;
  left: 0;
  background-color: rgb(240, 197, 46, 0.5);
}

.header_bot:hover div{
  display: block;
}

.header_dropdown ul{
}

.header_bot .header_dropdown {
  width: 50%;
  columns: 3 auto;
  font-family: "OpenSans";
  font-size: 15px;
  line-height: 36px;
  letter-spacing: 0.15px;
  display: flex;
  justify-content: space-between;
}

.bot-user-menu li {
  display: flex;
}

.header_item {
  flex: 1;
}

.header_item-right {
  flex: 2;
  display: flex;
  justify-content: flex-end;
}

.bot-user-menu {
  display: flex;
  justify-content: space-between;
  width: 50%;
}
.bot-menu-delivery {
  width: 50%;
}

h2 {
  font-family: "Gilroy";
  font-size: 47px;
  font-weight: 800;
  color: black;
  line-height: 1.02;
}

h2::first-letter {
  text-transform: capitalize;
}

.main {
  padding-bottom: 90px;
}

.main .container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

p {
  font-family: "Open Sans";
  font-size: 15px;
  line-height: 2;
  font-weight: 300;
  color: #464646;
}

.btn {
  font-family: Gilroy;
  font-size: 18px;
  font-weight: 800;
  padding: 15px 40px 15px 40px;
  text-decoration: none;
  color: black;
  position: relative;
  text-transform: uppercase;
  z-index: 1;
  display: inline-block;
  background: none;
  box-shadow: none;
  border: 0;
  cursor: pointer;
}

.btn::after {
  display: block;
  content: "";
  width: 100%;
  height: 8px;
  position: absolute;
  left: 0;
  top: 50%;
  background-color: #f0c52e;
  transform: translateY(-50%);
  z-index: -1;
  transition: height 0.2s;
}

.btn:hover::after {
  height: 100%;
}

.btn:active {
  color: rgba(0, 0, 0, 0.3)
}

.breadcrumbs {
  padding-bottom: 50px;
}

.breadcrumbs_item {
  font-family: "Open Sans";
  font-size: 14px;
  text-transform: capitalize;
  font-weight: 300;
  line-height: 1.71;
  color: rgba(0, 0, 0, 0.3);
}

.breadcrumbs_item img {
  margin-left: 10px;
  margin-right: 10px;
}

.filter {
  font-family: "Giltory";
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 800;
  line-height: 1.5;
  color: black;
}

legend {
  font-family: "Gilroy";
  font-size: 18px;
  text-transform: capitalize;
  font-weight: 800;
  color: black;
  line-height: 1.33;
}

label {
  font-family: "Open Sans";
  font-size: 14px;
  line-height: 2.86;
  font-weight: 300;
  text-transform: capitalize;
  color: black;
}

.footer {
  background-color: #464646;
  padding-top: 65px;
  padding-bottom: 65px;
}

.footer_top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Open Sans";
  font-size: 15px;
  line-height: 2;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.7);
}

ul.footer_top.top-user-menu {
  width: 30%;
  display: flex;
  justify-content: space-between;
}

.footer_mid {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Open Sans";
  font-size: 15px;
  font-weight: 300;
  line-height: 2;
  color: rgba(255, 255, 255, 0.7);
  padding-bottom: 10px;
}

.footer_mid .footer_mid-menu {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  letter-spacing: 1.6px;
  font-family: "Gilroy";
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 800;
  line-height: 2;
  color: #ffffff;
}

.footer_bot {
  font-family: "Gilroy";
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 800;
  line-height: 1.33;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer_bot-line {
  width: 80px;
  height: 7px;
  background-color: #f0c52e;
}

.footer_bot-socials {
  opacity: 0.3;
}

.catalog_filter--wrapper {
  background-color: #ebebeb;
}

.catalog-filter_btn-submit {
  background-color: #f0c52e;
  width: 100%; /*doesn't work*/
  height: 8px;
}

.main_inner {
  padding-left: 60px;
}

.main_item-delivery {
  font-family: Gilroy;
  font-size: 16px;
  font-weight: 800;
  line-height: 2.5;
  margin-bottom: 75px;
  list-style-type: disc;
}

.main_item-map {
  margin-bottom: 75px;
}

.main_item-map img {
  max-width: 100%;
  height: auto;
}

.main_item-btn {
  margin-top: auto;
}

.catalog_inner {
  background: linear-gradient(to right, #ebebeb 33%, white 33%)
}

.catalog {
  display: flex;
  flex-wrap: wrap;
}

.main_catalog-top {
  width: 100%;
}

.catalog_main {
  display: flex;
}

.catalog_sidebar {
  background-color: #ebebeb;
  padding-right: 70px;
}

.catalog_sidebar-container {
  width: 200px;
}

.catalog_filter {
  padding-top: 70px;
}

.filter-item {
  display: flex;
  flex-direction: column;
}

.filter-item-line {
  width: 200px;
  height: 2px;
  background-color: black;
  margin-bottom: 15px;
}

span {
  font-family: OpenSans;
  font-size: 14px;
  font-weight: 300;
  line-height: 40px;
  letter-spacing: 0.1px;
  color: black;
}

.catalog_content {
  width: 70%;
  padding-top: 70px;
  padding-bottom: 70px;
}

.catalog_content-item {
  margin-left: 40px;
}

.catalog_content-item-title {
  font-family: "Gilroy";
  font-size: 18px;
  text-transform: capitalize;
  font-weight: 800;
  color: black;
  line-height: 1.33;
}

.catalog_content-item-price {
  font-family: "Gilroy";
  font-size: 16px;
  text-transform: capitalize;
  font-weight: 300;
  color: #464646;
  line-height: 1.33;
}

.catalog_content-nav {
  display: flex;
  flex-basis: auto;
  justify-content: center;
}

.catalog_content-nav-btn {
  font-family: "Gilroy";
  font-size: 16px;
  text-transform: capitalize;
  line-height: 1.5;
  color: black;
  text-align: center;
}

.hidden-item {
  background-color: rgb(255,255,255,0.7);
}

.hidden-item ul {
  width: 380px;
  height: 360px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.hidden-item ul li {
  width: 200px;
  border: 1px solid black;
}

.catalog_content-container {
  background-color: #ffffff;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

li {
  list-style-type: none; /* Убираем маркеры */
 }

ul {
  margin-left: 0; /* Отступ слева в браузере IE и Opera */
  padding-left: 0; /* Отступ слева в браузере Firefox, Safari, Chrome */
 }

a {
  text-decoration: none;
}

fieldset {
  border: 0 none;
}

.popup_form {
  display: none;
  position: absolute;
  width: 960px;
  height: 560px;
  margin-left: auto;
  margin-right: auto;
  background-color: #ffffff;
  font-family: Gilroy;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.33;
}

.popup_form form .popup_top-container {
  display: flex;
}

.popup_map {
  display: none;
  position: absolute;
  width: 960px;
  height: 560px;
  margin-left: auto;
  margin-right: auto;
}

.popup_btn-close {
  cursor: pointer;
  background: none;
  position: absolute;
  z-index: 1;
  border: none;
  border-radius: 50%;
  opacity: 0.5;
  right: 22px;
  top: 22px;
}
