@font-face {
  font-family: "Opensans";
  src: url("../fonts/web/Opensans.woff");
  src: url("../fonts/web/Opensans.woff2");
font-weight: normal;
font-style: normal;
}

@font-face {
  font-family: "Opensans";
  src: url("../fonts/web/opensanslight.woff");
  src: url("../fonts/web/opensanslight.woff2");
font-weight: 300;
font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/web/gilroylight.woff");
  src: url("../fonts/web/gilroylight.woff2");
font-weight: 300;
font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/web/gilroyextrabold.woff");
  src: url("../fonts/web/gilroyextrabold.woff2");
font-weight: 800;
font-style: normal;
}

body {
  margin: 0;
  padding: 0;
}

.checkbox {
    background-image: url(img/checkbox-off.svg);
}

.checkbox:checked {
    background-image: url(img/checkbox-on.svg);
}

.radio:checked {
    background-image: url(img/radio-on.svg);
}

.radio:checked {
    background-image: url(img/radio-off.svg);
}

.visually-hidden {
  display: none;
}

/*
.visually-hidden:not(:focus):not(:active) {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
*/

.header {
  padding-top: 40px;
  padding-bottom: 60px;
}

.container {
  position: relative;
  width: 1160px;
  margin-left: auto;
  margin-right: auto;
}

.header_inner {
  padding-left: 60px;
  padding-right: 60px;
  background-color: #f7e296;
  padding-bottom: 55px;
}

.header_logo img {
  position: relative;
  transform: translateY(-50%);
}

.header_logo:hover > img{
  opacity: 0.6;
}

.header_logo:active > img{
  opacity: 0.3;
}

.header_top {
  display: flex;
  align-items: center;
  justify-content: space-between
}

.header_top-search{
  height: 47px;
  border-bottom: solid 2px #000000;
  outline: none;
}

.header_top-search > img {
  margin-right: 20px;
}

.header_top-search > input {
  border: none;
  background-color: #f7e296;
  font-family: "Opensans";
  font-size: 15px;
  font-weight: 300;
  line-height: 30px;
  letter-spacing: 0.15px;
  color: rgba(0, 0, 0, 0);
  opacity: 0.3;
  padding-right: 195px;
}

.header_top-search:hover > input {
  color: #000000;
  opacity: 0.6;
}

.header_top-search > input:focus  {
  color: rgba(0, 0, 0, 0);
}

.header_top-search > input:focus .top-search_btn-dropdown {
  display: block;
}

.top-search_btn-dropdown {
  background: transparent;
  border: solid 2px #000000;
  width: 85px;
  height: 49px;
  border-bottom: solid 2px #000000;
}

.user-menu {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  font-family: "Opensans";
  font-size: 15px;
  line-height: 2;
  font-weight: 300;
  line-height: 2;
}

.user-menu_item {
  margin-left: 40px;
}

.user-menu_item > a{
  color: black;
  text-decoration: none;
}

.user-menu_item:hover > a {
  opacity: 0.6;
}

.user-menu_item:active > a {
  opacity: 0.3;
}

.user-menu_item > a > img{
  margin-right: 10px;
}

.user-menu_item:nth-child(1) {
  margin-left: 0px;
}

.header_top .user-menu {
  width: 500px;
}

.header_top .user-menu_item--signin {
  margin-right: auto;
}

li.header_quarter-line-wrapper {
  width: 45%;
  display: flex;
  justify-content: space-between;
}

.header_menu {
  display:flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
}

.header_menu-item {
  margin-left: 38px;
}

.header_menu-item:hover > a {
  opacity: 0.6;
}

.header_menu-item:active > a {
  opacity: 0.3;
}

.header_menu-item--contacts {
  margin-left: 114px;
}

.header_menu-item--catalog {
  margin-left: 0;
  margin-right: auto;
}

.header_menu-item--catalog > a > img {
  padding-left: 15px;
  position: absolute;
  top: 3px;
}

.header_menu-item > a {
  font-family: "Gilroy";
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 800;
  line-height: 1.33;
  letter-spacing: 3.1px;
  color: black;
}

.dropdown_menu {
  display: none;
  position: absolute;
  left: -60px;
  right: -60px;
  top: 100%;
  background-color: #f7e296;
  padding-left: 60px;
  z-index: 1;
  padding-right: 460px;
  padding-bottom: 40px;
}

.dropdown_menu > li > a {
  font-family: Opensans;
  font-size: 15px;
  font-weight: 300;
  line-height: 36px;
  letter-spacing: 0.15px;
  color: #000000;
}

.dropdown:hover .dropdown_menu {
  display: flex;
  flex-wrap: wrap;
}

.dropdown_menu-item {
  width: 200px;
  height: 35px;
}

.dropdown_menu-item:hover > a {
  opacity: 0.6;
}

.dropdown_menu-item:active > a {
  opacity: 0.3;
}

.dropdown_menu-item:nth-child(3n+1) {
  width: 240px;
}

.dropdown_menu-item:last-child {
  width: 240px;
}


.header_bot div {
  display: none;
  position: absolute;
  width: 1040px;
  top: 160px;
  padding: 0 60px 0 60px;
  left: 0;
  background-color: rgb(240, 197, 46, 0.5);
}

.header_bot:hover div{
  display: block;
}

.header_bot .header_dropdown {
  width: 50%;
  columns: 3 auto;
  font-family: "Opensans";
  font-size: 15px;
  line-height: 36px;
  letter-spacing: 0.15px;
  display: flex;
  justify-content: space-between;
}

.bot-user-menu li {
  display: flex;
}

.header_item {
  flex: 1;
}

.header_item-right {
  flex: 2;
  display: flex;
  justify-content: flex-end;
}

.bot-user-menu {
  display: flex;
  justify-content: space-between;
  width: 50%;
}
.bot-menu-delivery {
  width: 50%;
}

h2 {
  font-family: "Gilroy";
  font-size: 47px;
  font-weight: 800;
  color: black;
  line-height: 1.02;
}

h2::first-letter {
  text-transform: capitalize;
}

.main {
  padding-bottom: 90px;
}

.main .container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

p {
  font-family: "Opensans";
  font-size: 15px;
  line-height: 2;
  font-weight: 300;
  color: #464646;
}

.btn {
  font-family: Gilroy;
  font-size: 18px;
  font-weight: 800;
  padding: 15px 40px 15px 40px;
  text-decoration: none;
  color: black;
  position: relative;
  text-transform: uppercase;
  z-index: 1;
  display: inline-block;
  background: none;
  box-shadow: none;
  border: 0;
  cursor: pointer;
}

.btn::after {
  display: block;
  content: "";
  width: 100%;
  height: 8px;
  position: absolute;
  left: 0;
  top: 50%;
  background-color: #f0c52e;
  transform: translateY(-50%);
  z-index: -1;
  transition: height 0.2s;
}

.btn:hover::after {
  height: 100%;
}

.btn:active {
  color: rgba(0, 0, 0, 0.3)
}

.breadcrumbs {
  padding-bottom: 50px;
}

.breadcrumbs_item {
  font-family: "Opensans";
  font-size: 14px;
  text-transform: capitalize;
  font-weight: 300;
  line-height: 1.71;
  color: rgba(0, 0, 0, 0.3);
}

.breadcrumbs_item:hover {
  opacity: 1;
}

.breadcrumbs_item:active {
  opacity: 0.3;
}

.breadcrumbs_item img {
  margin-left: 10px;
  margin-right: 10px;
}

.filter {
  font-family: "Giltory";
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 800;
  line-height: 1.5;
  color: black;
}

legend {
  font-family: "Gilroy";
  font-size: 18px;
  text-transform: capitalize;
  font-weight: 800;
  color: black;
  line-height: 1.33;
}

label {
  font-family: "Opensans";
  font-size: 14px;
  line-height: 2.86;
  font-weight: 300;
  text-transform: capitalize;
  color: black;
}

.footer {
  background-color: #464646;
  padding-top: 65px;
  padding-bottom: 65px;
}

.footer_top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Opensans";
  font-size: 15px;
  line-height: 2;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.7);
}

.footer_top-logo {
  position:relative;
  display:inline-block;
}

.footer_top svg {
  fill: #ffc600;
}

.footer_top-logo:hover {
  opacity: 0.6;
}

.footer_top-logo:active {
  opacity: 0.3;
}

.top-user-menu img {
  margin-right: 10px;
}

ul.footer_top.top-user-menu {
  width: 30%;
  display: flex;
  justify-content: space-between;
}

.footer_top a {
  color: rgba(255, 255, 255, 0.7);
}

.footer_top li:hover {
  opacity: 0.6;
}

.footer_top li:active {
  opacity: 0.3;
}

.top-user-menu svg{
  padding-right: 10px;
}

.footer_mid {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Opensans";
  font-size: 15px;
  font-weight: 300;
  line-height: 2;
  color: rgba(255, 255, 255, 0.7);
  padding-bottom: 10px;
}

.footer_mid .footer_mid-menu {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  letter-spacing: 1.6px;
  font-family: "Gilroy";
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 800;
  line-height: 2;
  color: #ffffff;
}

.footer_mid-menu a:hover {
  opacity: 0.6;
}

.footer_mid-menu a:active {
  opacity: 0.3;
}

.footer_bot {
  font-family: "Gilroy";
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 800;
  line-height: 1.33;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer_bot-line {
  width: 80px;
  height: 7px;
  background-color: #f0c52e;
}

.footer_bot-socials {
  width: 150px;
  display: flex;
  justify-content: space-around;
  padding: 0;
}

.footer_bot-socials a {
  opacity: 0.3;
}

.footer_bot-socials a:hover {
  opacity: 1;
}

.footer_bot-socials a:active {
  opacity: 0.6;
}

.footer_bot-logo svg {
  fill: #ffc600;
}

.footer_bot-logo:hover {
  opacity: 0.6;
}

.footer_bot-logo:active {
  opacity: 0.3;
}

.catalog_filter--wrapper {
  background-color: #ebebeb;
}

.catalog-filter_btn-submit {
  background-color: #f0c52e;
  width: 100%; /*doesn't work*/
  height: 8px;
}

.main_item {
  width: 560px;
}

.main_item-delivery {
  font-family: Gilroy;
  font-size: 16px;
  font-weight: 800;
  line-height: 2.5;
  margin-bottom: 75px;
  list-style-type: disc;
}

.main_item-map {
  margin-bottom: 75px;
}

.main_item-map:active div {
  display: block;
}

.main_item-map img {
  max-width: 100%;
  height: auto;
}

.modal_map {
  position: fixed;
  top: 50%;
  bottom: 50%;
  margin-left: 5%;
  margin-right: 5%;
  z-index: 1;
}

.main_item-btn {
  margin-top: auto;
}

.modal_form {
  position: fixed;
  width: 960px;
  top: 10%;
  background-color: #ffffff;
  font-family: Gilroy;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.33;
  z-index: 1;
  padding: 100px;
}

.modal_btn-close {
  cursor: pointer;
  background: none;
  position: absolute;
  z-index: 1;
  border: none;
  border-radius: 50%;
  opacity: 0.5;
  right: 22px;
  top: 22px;
  opacity: 0.6;
}

.modal_btn-close:hover {
  opacity: 1;
}

.modal_btn-close:active {
  opacity: 0.3;
}

/* .catalog_inner {
  background: linear-gradient(to right, #ebebeb 33%, white 33%)
} */

.catalog {
  display: flex;
  flex-wrap: wrap;
}

.main_catalog-top {
  width: 100%;
}

.catalog_main {
  display: flex;
  position: relative;
}

.catalog_sidebar {
  background-color: #ebebeb;
  padding-right: 70px;
}

.catalog_sidebar-container {
  width: 200px;
  padding-left: 60px;
}

.filter-item {
  display: flex;
  widows: 100%;
  flex-wrap: wrap;
}

.filter-item label {
  display: block;
  position: relative;
}

.styled-checkbox {
  position: absolute;
  opacity: 0;
}

.styled-checkbox + span {
  position: relative;
  padding: 0;
}

.styled-checkbox + span::before {
  content: '';
  margin-right: 10px;
  display: inline-block;
  vertical-align: text-top;
  background: url(../img/checkbox-off.png) no-repeat;
  width: 25px;
  height: 25px;
}

.styled-checkbox:checked + span::before {
  background: url(../img/checkbox-on.svg) no-repeat;
}

.styled-radio {
  position: absolute;
  opacity: 0;
}

.styled-radio + span::before {
  content: '';
  margin-right: 10px;
  display: inline-block;
  vertical-align: text-top;
  background: url(../img/radio-off.svg) no-repeat;
  width: 25px;
  height: 25px;
}

.styled-radio:checked + span::before {
  background: url(../img/radio-on.svg) no-repeat;
}

.filter-item > label:hover {
  opacity: 0.6;
}

.filter-item > label:active {
  opacity: 0.3;
}

.filter-item-line {
  width: 200px;
  height: 2px;
  background-color: black;
  margin-bottom: 15px;
}

.filter-item-line:nth-child(1) {
  margin-top: 70px;
}

span {
  font-family: "Opensans";
  font-size: 14px;
  font-weight: 300;
  line-height: 40px;
  letter-spacing: 0.1px;
  color: black;
}

.catalog_content {
  padding-top: 70px;
  padding-bottom: 70px;
}

.catalog_content-container {
  background-color: #ffffff;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  position: relative;
}

.catalog_content-container div:nth-child(4)::after {
  content: "New";
  position: absolute;
  top: 25px;
  right: 25px;
  width: 60px;
  height: 60px;
  border: solid 2px #000000;
  border-radius: 50%;
  opacity: 0.1;
  text-align: center;
  vertical-align: middle;
  font-family: Gilroy;
  font-size: 14px;
  font-weight: 800;
  line-height: 4.5;
}

.catalog_content-item {
  margin-left: 40px;
  padding-bottom: 40px;
  position: relative;
}

.catalog_content-item-text {
  padding-top: 40px;
  display: flex;
  justify-content: space-between;
}

.catalog_content-item-title {
  font-family: "Gilroy";
  font-size: 18px;
  text-transform: capitalize;
  font-weight: 800;
  color: #000000;
  line-height: 1.33;
}

.catalog_content-item-price {
  position: relative;
  font-family: "Gilroy";
  font-size: 16px;
  text-transform: capitalize;
  font-weight: 300;
  color: #744848;
  line-height: 1.33;
  width: 30%;
  text-align: end;
  top: -12px;
}

.popup-inner {
  display: none;
  position: absolute;
  top: 0;
  width: 360px;
  height: 360px;
  background-color: rgba(238, 238, 238, 0.7);
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.popup-inner .popup-item {
  width: 200px;
  left: 50%;
  text-align: center;
  font-family: opensans;
  font-size:  13px;
  line-height: 36px;
}

.popup-item:nth-of-type(2) {
  color: rgb(0, 0, 0);
  opacity: 0.6;
}

.popup-item:nth-of-type(2):hover {
  opacity: 1;
}

.popup-item:nth-of-type(2):active {
  opacity: 0.3;
}

.popup:hover .popup-inner {
  display: flex;
}

.catalog_content-nav {
  display: flex;
  flex-basis: auto;
  justify-content: space-between;
  width: 760px;
  background-color: #ebebeb;
  margin-left: auto;
}

.catalog_content-nav > div {
  width: 90px;
  display: flex;
  justify-content: space-between;
}

.catalog_content-nav-btn {
  font-family: "Gilroy";
  font-size: 16px;
  text-transform: capitalize;
  line-height: 1.5;
  font-weight: 800;
  color: black;
  text-align: center;
  background: #ebebeb;
  border: none;
  cursor: pointer;
  width: 135px;
  height: 70px;
}

.catalog_content-nav-btn--unactive {
  opacity: 0.3;
}

.catalog_content-nav-btn--unactive:hover {
  opacity: 0.6;
}

.catalog_content-nav-btn--unactive:active {
  opacity: 1;
}

.catalog_content-nav-btn--prev-next:hover {
  background-color: #d9d9d9;
}

.catalog_content-nav-btn--prev-next:active {
  background-color: #d9d9d9;
  opacity: 0.6;
}



.hidden-item {
  background-color: rgb(255,255,255,0.7);
}

.hidden-item ul {
  width: 380px;
  height: 360px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.hidden-item ul li {
  width: 200px;
  border: 1px solid black;
}

li {
  list-style-type: none; /* Убираем маркеры */
 }

ul {
  margin-left: 0; /* Отступ слева в браузере IE и Opera */
  padding-left: 0; /* Отступ слева в браузере Firefox, Safari, Chrome */
 }

a {
  text-decoration: none;
}

fieldset {
  border: 0 none;
}

.modal {
  display: none;
  position: fixed;
  width: 960px;
  height: 560px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  box-shadow: 1px 1px 20px 0 #464646;
  z-index: 2;
}

.modal--form {
  padding: 100px;
  width: 760px;
  height: 360px;
}

.modal--form fieldset {
  padding: 0;
}

.modal--form label {
  font-family: Gilroy;
  font-size: 18px;
  line-height: 1.33;
  font-weight: 800;
  margin-bottom: 10px;
}

.modalform-inner {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.modalform-inner > label {
  width: 365px;
}

.modalform-inner > input {
  width: 345px;
}

.modal_form--custumers-message {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.modal_form--custumers-message > label {
  width: 100%;
  margin-top: 40px;
}

.modal_form--custumers-message > textarea {
  width: 740px;
  height: 115px;
  display: flex;
  justify-content: flex-start;
  align-content: flex-start;
  margin-bottom: 40px;
}

.modal--form input, textarea {
  border: none;
  background-color: #e5e5e5;
  color: rgba(70, 70, 70, 0.4);
  padding: 18px 0px 18px 20px;
  font-family: Opensans;
  font-weight: normal;
  line-height: 18px;
  font-size: 14px;
}
